<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArchivePDF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArchivePDF.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ArchivePDF.Settings.connectionString" connectionString="Server=AMSTORE-SQL-05;Database=ENGINEERING;Trusted_Connection=True;"/>
    </connectionStrings>
    <userSettings>
        <ArchivePDF.Settings>
            <setting name="SaveFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SilenceGaugeErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportPDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportEDrw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportImg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteToDb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="localJSON" serializeAs="String">
                <value>C:\Optimize\ArchivePDF.json</value>
            </setting>
            <setting name="BMPPath" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\KOHLS\Ariba Label Images\</value>
            </setting>
            <setting name="WeirdArbitraryFactor" serializeAs="String">
                <value>0.005</value>
            </setting>
            <setting name="GaugeRegex" serializeAs="String">
                <value>^[0-9]{1,2}\ ?GA\.?</value>
            </setting>
        </ArchivePDF.Settings>
    </userSettings>
    <applicationSettings>
        <ArchivePDF.Settings>
            <setting name="GaugePath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\Amstore_Macros\gauges.xml</value>
            </setting>
            <setting name="JPGPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\JPGs\</value>
            </setting>
            <setting name="KPath" serializeAs="String">
                <value>\\AMSTORE-SVR-01\details\</value>
            </setting>
            <setting name="GPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\PDF ARCHIVE\</value>
            </setting>
            <setting name="MetalPath" serializeAs="String">
                <value>\\AMSTORE-SVR-02\shared\shared\general\Metals\METAL MANUFACTURING\</value>
            </setting>
            <setting name="table" serializeAs="String">
                <value>dbo.GEN_DRAWINGS</value>
            </setting>
            <setting name="basename" serializeAs="String">
                <value>FName</value>
            </setting>
            <setting name="fullpath" serializeAs="String">
                <value>FPath</value>
            </setting>
            <setting name="datecreated" serializeAs="String">
                <value>DateCreated</value>
            </setting>
            <setting name="KMapped" serializeAs="String">
                <value>K:\</value>
            </setting>
            <setting name="metalTable" serializeAs="String">
                <value>dbo.GEN_DRAWINGS_MTL</value>
            </setting>
            <setting name="defaultJSON" serializeAs="String">
                <value>\\AMSTORE-SVR-22\cad\Solid Works\Amstore_Macros\ArchivePDF.json</value>
            </setting>
            <setting name="GMapped" serializeAs="String">
                <value>G:\PDF ARCHIVE\</value>
            </setting>
            <setting name="SMapped" serializeAs="String">
                <value>S:\shared\general\Metals\METAL MANUFACTURING\</value>
            </setting>
            <setting name="LayerHeads" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AMS</string>
                        <string>CUS</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LayerTails" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.1-5</string>
                        <string>.6-10</string>
                        <string>.11-15</string>
                        <string>.16-20</string>
                        <string>.21-25</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShtFmtPath" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\AMSTORE-SVR-22\cad\Solid Works\AMSTORE_SHEET_FORMATS\zPostCard.slddrt</string>
                        <string>\\AMSTORE-SVR-22\cad\Solid Works\\AMSTORE_SHEET_FORMATS\\zThm.slddrt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ArchivePDF.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
